# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Development entries
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/.idea

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Build artifacts
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/dist
/bin/rr

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# PHP + Symfony entries
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/assets/
/assets/vendor/

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# PHPUnit entries
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/.phpunit.result.cache
/phpunit.xml

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# PHP dev tools entries
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/.php-cs-fixer.php
/.php-cs-fixer.cache

